<h2>注文履歴詳細</h2>

  <h6>購入者</h6>
  <%= link_to ( @order.member.last_name + @order.member.first_name), manager_member_path(member.id) %>
  <h6>注文日</h6>
  <%= @order.created_at %>
   <h6>配送先</h6>
  <%= @order.delivery_address %>
   <h6>支払い方法</h6>
  <%= @order.payment_method %>
  <br>
  <div>
  <%= form_with model:@order, url: manager_order_path(order), local:true do |f| %>
  <h6>注文ステータス</h6>
  <%= f.collection_select :member_id, Member.all, :id, :status, include_blank: "--選択して下さい--" %>
  <%= f.submit '更新', class: 'btn btn-success' %></br>
  <% end %>
  </div>

<table class="table table-hover table-inverse">
 <thead>
  <th>商品名</th>
  <th>単価(税込)</th>
  <th>数量</th>
  <th>小計</th>
  <th>制作ステータス</th>
  <th></th>
  <th colspan="6"></th>
  <tr>
 <% @order_products.each do |order_product| %>
 <tr>
 <!--<th><%= order.member.name %></th>-->
 <th><%= order_product.purchase_price %></th>
 <th><%= order_product.quantity %></th>
 <th><%= (order_product_purchase_price) * (order_product.quantity) %></th>
 
 <!--<th><%= form_with model:@order, url: manager_order_path(order), local:true do |f| %>-->
 <!--<th><%= f.collection_select :order_product_id, Order_Product.all, :id, :status, include_blank: "--選択して下さい--" %>-->
     <!--<%= f.submit '更新', class: 'btn btn-success' %></th>-->
     <!--<% end %>-->
 </tr>
 <% end %>
  <thead>
 </table>
 
 
  <h6>商品合計</h6>
   <%= (@order.order_product_purchase_price) * (@order.order_product.quantity) %>
  <h6>送料</h6>
   <%= @order.send_price %>
  <h6>請求金額合計</h6>
   <%= @order.total_price %>