<h1>商品詳細</h1>

<%= attachment_image_tag @product, :image, :fill, 500, 300  %>
<div><%= @product.name %></div>
<div><%= @product.title %></div>
<div><span>¥</span><%= (@product.price * 1.1 ).floor%> <span>(税込)</span></div>




<%= form_with model:@cart, url:public_carts_path, local: true, method: :post do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.select :quantity, [ 1,2,3 ], {include_blank: '個数選択'} %>
  <%= f.submit "カートに入れる", class: "btn btn-success" %>
<% end %>