<div class = "bottom">
<div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
        <div class="col-lg-3">
           <p><%= attachment_image_tag @product, :image, class:'cake'  %></p>
           </div>
           <div class="col-lg-7">
           <p>商品名          <%= @product.name %></p>
           <p>商品説明       <%= @product.title %></p>
           <p>ジャンル名　　<%= @product.genre.name %></p>
           <span>¥</span><%= (@product.price * 1.1 ).floor%> <span>(税込)</span>

          <%= form_with model:@cart, url:public_carts_path, local: true, method: :post do |f| %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <br><%= f.select :quantity, [ 1,2,3,4,5,6,7,8,9,10 ], {include_blank: '個数選択'} %></br>
            <br><%= f.submit "カートに入れる", class: "btn btn-success" %></br>
          <% end %>
          </div>
          </div>
</div>
</div>