<h1>商品詳細</h1>

<%= attachment_image_tag @product, :image %>
<%= @product.name %>
<%= @product.title %>
<!--税込表示あってる？？-->
<%= @product.price*1.1 %>
<!--なんとなくで記述-->
<%= form_with model:@order_products url: 'public/orders' do |order_product|%>
  <%= f.select :quantity, ['1', '2', '3'], {include_blank: '選択ボックス'} %>
  <%= f.submit "カートに入れる" %>
<% end %>