
<h2>商品一覧</h2>


<p><%= link_to '商品新規登録へ', new_manager_product_path ,class: 'fas fa-plus-circle'%></p>

 <table class="table table-hover table-inverse">
 <thead>
  <th>商品id </th>
  <th>商品名 </th>
  <th>税抜き価格 </th>
  <th>ジャンル名 </th>
  <th>販売ステータス</th>
  <th colspan="5"></th>
 </thead>
 
 <% @products.each do |product| %>
 <tr>
 <th><%= product.id %></th>
  <th><%= link_to product.name, manager_product_path(product) %></th>
  <th><%= product.price %></th>
  <th><%= product.genre.name %></th>
  <th><%# if product.is_active = true %>
    <%#else %> 
    <%= product.is_active %></th>
   <%# end %>
   
 <% end %>
 </tr>
 </table>