<div class="container">

    </br>
    <div class="row">
     <div class="col-lg-2"></div>
     <div class="col-lg-10">

       <%= render "layouts/error", obj: @newproduct %>

      <h2>商品新規登録</h2>
      </br>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-3"></div>
     <div class="col-lg-9">
          <%= form_with model:@newproduct,url: manager_products_path, local:true do |f| %>
             <div style = "display:flex"><p>商品画像　　　　<%= f.attachment_field :image %></p></div>
             <div style = "display:flex"><p>商品名　　　　　<%= f.text_field :name %></p></div>
             <div style = "display:flex"><p>商品説明　　　　<%= f.text_area :title %></p></div>
             <div style = "display:flex"><p>ジャンル　　　　<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %></p></div>
             <div style = "display:flex"><p>税抜き価格　　　<%= f.text_field :price %> 円 </p></div>
             <div style = "display:flex"><p>販売ステータス  　　<label><%= f.radio_button :is_active, true %> 販売中</label>
                                 　<label><%= f.radio_button :is_active, false %> 販売停止中 </label> </p></div></br>
         <div class="row">
           <div class="col-lg-3"></div>
           <div class="col-lg-9">
            <%= f.submit '新規登録', class: 'btn btn-success' %>
          <% end %>
          </div>
         </div>
      </div>
     </div>
</div>