<h2>商品詳細</h2>

 <h6>商品画像</h6>
 <%= @product.image_id %>
 <h6>商品名</h6>
  <%= @product.name %>
   <h6>商品説明</h6>
   <%= @product.title %>
   <h6>ジャンル名</h6>
  <%= @genre.name %>
  <h6>税込み価格
      <br>(税抜き価格)</br></h6>
  <%= @product.price %>5
      <br><%= @product.price %></br>
  <li><% if @product.is_active = true %>販売中
  　　<% else %>販売停止中</li>
  　<% end %>　
  
  <br><%= link_to ' 編集する', edit_manager_product_path(@product.id) , class: 'btn btn-success'%></br>
  　