<h4>新規会員登録</h4>

<%= form_for(resource, as: resource_name, url: member_registration_path) do |f| %>
  <%= render "members/shared/error_messages", resource: resource %>
  <div class ="center">
 
  <table>
  <tr>
  <div class="field">
    <th><%= f.label :名前 %></th>
    <th><%= f.label :last_name, "(姓)" %></th>
    <th><%= f.text_field :last_name, autofocus: true, required: true, class: 'form-control' %></th>
    <th><%= f.label :first_name, "(名)" %></th>
    <th><%= f.text_field :first_name, autofocus: true, required: true, class: 'form-control' %></th>
  </div>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label :フリガナ %></th>
    <th><%= f.label :last_name_kana, "(セイ)" %></th>
    <th><%= f.text_field :last_name_kana, autofocus: true, required: true, class: 'form-control' %></th>
    <th><%= f.label :first_name_kana, "(メイ)" %></th>
    <th><%= f.text_field :first_name_kana, autofocus: true, required: true, class: 'form-control' %></th>
  </div>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label :メールアドレス %></th>
    <th></th>
    <th><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %></th>
  </div>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label :郵便番号（ハイフンなし） %></th>
    <th></th>
    <th><%= f.text_field :postcode, autofocus: true, required: true, class: 'form-control' %></th>
  </div>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label :住所 %></th>
    <th></th>
    <th><%= f.text_field :address, autofocus: true, required: true, class: 'form-control' %></th>
  </div>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label :電話番号（ハイフンなし） %></th>
    <th></th>
    <th><%= f.text_field :phone_number, autofocus: true, required: true, class: 'form-control' %></th>
  </div>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label :パスワード（６文字以上） %></th>
    <th></th>
        <% if @minimum_password_length %>
        <% end %>
    <th><%= f.password_field :password, autocomplete: "new-password" %></th>
  </div>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label :パスワード（確認用） %></th>
    <th></th>
    <th><%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
  </div>
  </tr>

  </table>
  <p>
    <div class="actions">
    <%= f.submit "新規登録", class: 'btn btn-success' %>
    </div>
  </p>
  
<% end %>
<h2>既に登録済みの方</h2>
<%= render "members/shared/links" %>

</div>