<h2>会員情報編集</h2>

<%= form_with model:@member, url:"/public/members", local:true do |f| %>
  <div class="field">
    <%= f.label :氏名 %><br />
    <%= f.text_field :last_name, autofocus: true, required: true %>
    <%= f.text_field :first_name, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :フリガナ %><br />
    <%= f.text_field :last_name_kana, autofocus: true, required: true %>
    <%= f.text_field :first_name_kana, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %><br />
    <%= f.text_field :postcode, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :電話番号（ハイフンなし） %><br />
    <%= f.text_field :phone_number, autofocus: true, required: true %>
  </div>
  <br></br>
  <p><%= f.submit "編集内容を保存", class: 'btn btn-success' %></p>
  <% end %>
  <p><%= link_to "退会する", public_unsubscribe_path, class: 'btn btn-danger' %></p>