<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= link_to '編集する',public_edit_member_path(current_member),class: 'btn btn-secondary' %>
      <h2>マイページ</h2>
      <h5>姓</h5>
      <%= @member.last_name %>
      <h5>名</h5>
      <%= @member.first_name %>
      <h5>セイ</h5>
      <%= @member.last_name_kana %>
      <h5>メイ</h5>
      <%= @member.first_name_kana %>
      <h5>郵便番号</h5>
      <%= @member.postcode %>
      <h5>住所</h5>
      <%= @member.address %>
      <h5>電話番号</h5>
      <%= @member.phone_number %>
      <h5>メールアドレス</h5>
      <%= @member.email %>
      <h3>配送先</h3>
      <%= link_to '一覧を見る',public_deliveries_path,class: 'btn btn-secondary' %>
      <h3>注文履歴</h3>
      <%= link_to '一覧を見る',public_orders_path,class: 'btn btn-secondary' %>
    </div>
  </div>
</div>