<div id="top-visual">
  <div class="top-visual-container">
    <p class="top-visual-text">ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない⽅も商品の閲覧はできますが、<br>
      購⼊には会員登録が必要になります。
    </p>
  </div>
</div>
<div class="new-products">
  <h2>新着商品</h2>
  <div class="new-product-boxes d-flex">
    <% @products.first(4).each do |product| %>
    <div class="new-product-box">
      <%= link_to public_product_path(product) do %>
        <%= attachment_image_tag product, :image, class: "product_image" %>
      <% end %><br>
      <%= product.name %><br>
      <span>¥</span><%= product.price %>
    </div>
  </div>
</div>
<% end %>

  <div>
    <%= link_to "全ての商品を見る >", public_products_path %>
  </div>
</div>
