<h1>注文情報入力</h1>

<%= form_with model:@order, url: "/public/orders", local:true do |f| %>
    <div class="order-payment">
      <h3>支払い方法</h3>
      <p>
        <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
        <%= f.label :クレジットカード %>
      </p>
      <p>
        <%= f.radio_button :payment_method, :銀行振り込み %>
        <%= f.label :銀行振り込み %>
      </p>
    </div>

    <div class="order-address">
      <h3>お届け先</h3>
    </div>
<% end %>


