 <h1>注文履歴詳細</h1>
 
 <h2>注文情報</h2>
 <p>注文日：<%= @order.created_at %></p>
 <p>配送先：〒<%= @order.delivery_postcode %>
            <p><%= @order.delivery_address %></p>
            <p><%= @order.delivery_name %></p>
 </p>
 <p>支払方法：<%= @order.payment_method %></p>
 <p>ステータス：<% if @order.status = 0 %>入金待ち
   　            <% elsif @order.status = 1 %>入金確認
              　<% elsif @order.status = 2 %>製作中
   　            <% elsif @order.status = 3 %>発送準備中
              　<% elsif @order.status = 4 %>発送済み
  　           　<% else %>
  　           　<% end %></p>
 
 <h2>請求情報</h2>
 <p>商品合計：<%= @sum %></p>
 <p>配送料：800</p>
 <p>ご請求額：<%= @order.total_price %></p>
 
 <h2>注文内容</h2>
 <table class="table table-hover table-inverse">
 <thead>
  <th>商品</th>
  <th>単価(税込)</th>
  <th>個数</th>
  <th>小計</th>
  <th colspan="4"></th>
  <tr>
 
 <% @order.order_products.each do |order_product| %>
 <tr>
 <th><%= order_product.product.name %></th>
 <th><%= order_product.purchase_price %></th>
 <th><%= order_product.quantity %></th>
 <th><%= (order_product.purchase_price) * (order_product.quantity) %></th>
 </tr>
 <% end %>
 
 
  <thead>
 </table>